/* ECRAN COMPRIS ENTRE 768 ET 1200 PX */

* {
    box-sizing: border-box;
}

body
/* format > 768 */

{
    width: 768px;
    margin: auto;
}


/* ENTETE */

header {
    width: 100%;
    border: 1px solid deepskyblue;
    text-align: center;
    background-color: #00bfff;
}


/* CORPS PRINCIPAL */

.corps {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* MENU DE GAUCHE */

.menugauche {
    flex-direction: column;
    padding: 25px;
    background-color: floralwhite;
    justify-content: space-between;
}

.menugauche a {
    text-decoration: none;
    margin: 25px;
}

.menugauche a:hover {
    background-color: tomato;
    border-radius: 10px;
}


/* ARTICLE CENTRAL */

.article {
    flex-direction: column;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: cornsilk;
}


/* BANNIERE PUB */

.pub {
    display: none;
}


/* BANNIERE IMAGE */

.img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: darkgrey;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}


/* PIED DE PAGE */

footer {
    width: 100%;
    text-align: center;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
}