video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    background: url(./img/videoBackground2.jpg) no-repeat;
    background-size: cover;
    width: auto; 
    height: auto;
}

.contenu{
    font-family: arial;
    background: rgba(255,255,255,0.15);
    width: 80%;
    margin: 90px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
}