.box
{
    width: 700px;
    font-family: Arial, Helvetica, sans-serif ;
}
h1
{
    text-align: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.maliste
{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-bottom: 1px dashed black;
    list-style: none;

}
.num
{
    display: flex;
    width: 100px;
    border-right: 1px solid black;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    color: blue;
    font-weight: 600;
}
span > .titre
{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.titre
{
    width: 400px;

}

.icon
{
    width: 50px;
    vertical-align:middle;
}
.duree
{
    width: 50px;
    font-weight: 600;
}

img:hover
{
    width: 25px;
    height: 25px;
}