/* ECRAN SUPERIEUR A 1200 PX */

* {
    box-sizing: border-box;
}


/*#region body*/

body {
    width: 1024px;
    margin: auto;
}


/* ENTETE */

header {
    width: 100%;
    border: 1px solid deepskyblue;
    text-align: center;
    background-color: deepskyblue;
}


/* CORPS PRINCIPAL */

.corps {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* MENU DE GAUCHE */

.menugauche {
    flex-direction: column;
    padding-top: 25px;
    background-color: floralwhite;
    justify-content: space-around;
    align-content: center;
}

.menugauche a {
    text-decoration: none;
    margin: 25px;
    padding-bottom: 5px;
}

.menugauche a:hover {
    background-color: tomato;
    border-radius: 10px;
}


/* ARTICLE CENTRAL */

.article {
    flex-direction: column;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: cornsilk;
}


/* BANNIERE PUB */

.pub {
    flex-direction: column;
    border: 1px solid cyan;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: cyan;
    justify-content: space-around;
    align-content: center;
}

.pub img {
    width: 120%;
    margin: 0;
    padding: 3px;
}


/* BANNIERE IMAGE */

.img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: darkgrey;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.img img {
    width: 50px;
    height: 50px;
}


/* PIED DE PAGE */

footer {
    width: 100%;
    text-align: center;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
}


/*#endregion*/