@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
:root {
    --main-color: teal;
}

body {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Calistoga';
}


/* Menu du haut */

.fond {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
}

.menu2 {
    flex-direction: row;
    padding: 15px;
    margin: 10px;
}

.menu1 {
    padding: 15px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.menu1:hover,
.menu2 a:hover {
    background-color: tomato;
    border-radius: 30px;
}

.menu2 a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

.menu2>a:nth-child(1) {
    color: yellow;
}

.menu2>a:nth-child(1):hover {
    background-color: teal;
}


/* 1ere partie haute */

.haut {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    background-image: url("code_source.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.haut a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin-bottom: 20px;
    padding: 10px 25px 10px 25px;
    width: 50px;
    text-align: center;
    justify-content: center;
}

.haut a:hover {
    background-color: tomato;
    border-radius: 30px;
}

.haut span {
    color: #ffa500;
}

.haut>h2 {
    font-size: 55px;
    margin-bottom: 3px;
}

.haut p {
    font-size: 25px;
    margin-top: 3px;
}

.haut h3 {
    color: yellow;
}


/* Mise en forme du milieu */

.milieu {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.img1 {
    width: 50%;
    height: auto;
    background-image: url("code_source_2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img2 {
    width: 50%;
    height: auto;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    padding: 90px;
}

.img2 a {
    text-decoration: none;
    color: black;
    border: 3px solid #ffa500;
    background-color: white;
    padding: 10px 25px 10px 25px;
    margin-bottom: 80px;
    width: 100px;
}

.img2 a:hover {
    background-color: tomato;
    border-radius: 30px;
}

.img2 span {
    color: #ffa500;
}

.img2 p {
    margin-bottom: 65px;
}


/* pied de page */

.pieddepage {
    display: flex;
    flex-direction: row;
}

.droite,
.milieu2,
.gauche {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px 60px 30px;
}

.milieu2 {
    background-color: #ffa500;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: teal;
    text-align: center;
    font-style: italic;
}